In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn import metrics

#Visualisation

from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus



churn_data = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")


churn_data.head()

churn_data.shape

(7043, 21)

In [2]:
#View Data

churn_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
#target variable value count
print(churn_data["Churn"].value_counts())

No     5174
Yes    1869
Name: Churn, dtype: int64

In [4]:
#Replace catagorical values with numerical values



#Churn
churn_data["Churn"].replace(["No","Yes"],[0,1],inplace =True)

#Male = 1, Female = 0
churn_data["gender"].replace(["Male","Female"],[1,0],inplace =True)


#Partner
churn_data["Partner"].replace(["Yes","No"],[1,0],inplace =True)


#Dependents
churn_data["Dependents"].replace(["Yes","No"],[1,0],inplace =True)

#Multiplelines
churn_data["MultipleLines"].replace(["Yes","No","No phone service"],[1,0,2],inplace = True)


#Phone Service
churn_data["PhoneService"].replace(["Yes","No"],[1,0],inplace =True)


#Internet Service
churn_data["InternetService"].replace(["Fiber optic","DSL","No"],[0,1,2],inplace= True)


#Contract
churn_data["Contract"].replace(["Month-to-month","Two year","One year"],[0,1,2],inplace = True)


#Tech Support
churn_data["TechSupport"].replace(["No","Yes","No internet service"],[0,1,2],inplace = True)

#Online Security
churn_data["OnlineSecurity"].replace(["No","Yes","No internet service"],[0,1,2],inplace = True)


#Device Protection
churn_data["DeviceProtection"].replace(["No","Yes","No internet service"],[0,1,2],inplace =True)


#Streaming Movies
churn_data["StreamingMovies"].replace(["No","Yes","No internet service"],[0,1,2],inplace =True)


#Streaming TV
churn_data["StreamingTV"].replace(["No","Yes","No internet service"],[0,1,2],inplace =True)

#OnlineBackup
churn_data["OnlineBackup"].replace(["No","Yes","No internet service"],[0,1,2],inplace =True)


#PaperlessBilling
churn_data["PaperlessBilling"].replace(["No","Yes"],[0,1],inplace =True)


#PaymentMethod
churn_data["PaymentMethod"].replace(["Electronic check","Mailed check","Bank transfer (automatic)","Credit card (automatic)"],[0,1,2,3],inplace =True)


#totalcharges
churn_data["TotalCharges"].replace([" "],[0],inplace = True)
churn_data["TotalCharges"] =churn_data["TotalCharges"].astype('float')

churn_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,2,1,0,...,0,0,0,0,0,1,0,29.85,29.85,0
1,5575-GNVDE,1,0,0,0,34,1,0,1,1,...,1,0,0,0,2,0,1,56.95,1889.50,0
2,3668-QPYBK,1,0,0,0,2,1,0,1,1,...,0,0,0,0,0,1,1,53.85,108.15,1
3,7795-CFOCW,1,0,0,0,45,0,2,1,1,...,1,1,0,0,2,0,2,42.30,1840.75,0
4,9237-HQITU,0,0,0,0,2,1,0,0,0,...,0,0,0,0,0,1,0,70.70,151.65,1

In [5]:
#split dataset in features and target variable
X = churn_data.iloc[:, 1:20] #Features
y = churn_data["Churn"] #Target variable

X.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,0,1,0,1,0,2,1,0,1,0,0,0,0,0,1,0,29.85,29.85
1,1,0,0,0,34,1,0,1,1,0,1,0,0,0,2,0,1,56.95,1889.50
2,1,0,0,0,2,1,0,1,1,1,0,0,0,0,0,1,1,53.85,108.15
3,1,0,0,0,45,0,2,1,1,0,1,1,0,0,2,0,2,42.30,1840.75
4,0,0,0,0,2,1,0,0,0,0,0,0,0,0,0,1,0,70.70,151.65

In [6]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42) # 70% training and 30% test

#### Building Decision Tree Model

In [7]:
# Create Decision Tree classifer object
dtc = DecisionTreeClassifier()

# Train Decision Tree Classifer
tdtc = dtc.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = tdtc.predict(X_test)

In [8]:
# How often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7311878845243729

In [15]:
#Visualisation

feature_cols = ["gender","SeniorCitizen","Partner","Dependents","tenure","PhoneService","MultipleLines","InternetService","OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies","Contract","PaperlessBilling","PaymentMethod","MonthlyCharges","TotalCharges"]

dot_data = StringIO()
export_graphviz(dtc, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True,feature_names = feature_cols,class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_pdf('churn.pdf')

True